streamlit
pandas
requests
python-dotenv
SpeechRecognition
pyaudio
psutil
feedparser
flask
flask_cors
pushbullet.py
langgraph
langchain
web3
diffusers
elevenlabs
selenium
playwright
webdriver-manager
schedule
homeassistant-api
robotframework
